MSSQL_PID=Express
MSSQL_PORT=11433
BACKEND_PORT=8000
MSSQL_SA_PASSWORD=ChangeThisStrongPass_123
SECRET_KEY=change-this-secret-key
DATABASE_URL=mssql+pyodbc://sa:ChangeThisStrongPass_123@db:1433/Mobile?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes&Encrypt=no
